.login {
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperL {
    width: 25%;
    padding: 20px;
    background-color: white;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

.formLogin {
    display: flex;
    flex-direction: column;
}

.inputFL1 {
    flex: 1;
    min-width: 40%;
    margin: 10px 0px;
    padding: 10px;
}

.formLButton {
    width: 100%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
    margin-bottom: 10px
}

.lLink {
    font-size: 16px !important;
    margin-top: 5px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}