* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #FFCFDF;
    width: 100% ;
    height: 60px;
    overflow: hidden;
}

ul {
    list-style-type: none;
}

li{
    padding: 14px 10px;
    color:#A5DEE5;
    text-align: center;
}

.left{
    float: left;
    font-family: 'McLaren', cursive;
    text-shadow: 1px 1px #ECE2E1;
    font-size: 32px !important;
    font-weight: 600;
    margin-top: 0px;
}

.right {
    float: right;
    border: #ECE2E1 1px solid;
    padding: 8px 12px;
    border-radius: 12px;
    margin: -30px 10px;
    background-color: #ECE2E1;
    font-size: 20px !important;
    object-position:auto;
}

.right2 {
    float: right;
    padding: 8px 12px;
    border: #ECE2E1 1px solid;
    border-radius: 12px;
    margin: -57px 125px;
    background-color: #ECE2E1;
    font-size: 20px !important;
    object-position:auto;
}
