.product {
    display: flex;
    flex: 4;
}

.productContent {
    height: 200px;
    -webkit-box-shadow: -3px 6px 35px 1px rgba(0, 0, 0, 0.31);
    box-shadow: -3px 6px 35px 1px rgba(0, 0, 0, 0.31);
    padding: 16px;
    margin: 60px;
    text-align: center;
    background: whitesmoke;

    
}

.productTitle {
    font-size: 22px;
    font-weight: 600;
    text-align:center;
    color: #52e6e6;

    padding: 5px;
}

.productDesc {
    text-align: center;
    color: #6acccc;
    font-size:20px;
    font-weight: 300 !important;

    padding: 5px;
}



