.examMaker {
    text-align: center;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .menu {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #ECE2E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .menu button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .quiz {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #ECE2E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .Quiz, .EndScreen h1 {
    color: white;
  }

  .quiz button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .quiz button:active{
    background-color: #c4b9b9;
  }

  .endScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #ECE2E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #nextQuestion {
    width: 200px;
  }
  
  h3 {
    color: #ffffff;
  
  }

  .loader{

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #FFCFDF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .linkButtonHome{
    width: 300px !important;
    height: 50px !important;
    margin: 5px;
    border: none !important;
    border-radius: 5px !important;
    font-size: 20px;
    font-weight: 100 !important;
    color:black;
  }